/2.html
/3.html
/4.html
/after.png
/before.png
/brickBreakerGame.html
/crunch.mp3
/OCU_AI_과제1.pdf
/shout.mp3
/taja.html
/taja10.html
/taja11.html
/taja12.html
/taja13.html
/taja2.html
/taja3.html
/taja4.html
/taja5.html
/taja6.html
/taja7.html
/taja8.html
/taja9.html
/배포용_챗GPT 이해와 활용
/배포용_챗GPT 이해와 활용.zip
/챗GPT의 이해와 활용 2차 리포트.pdf
/챗GPT의이해와활용ksnu2001111.docx